# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance and configuration
instance/
*.log
*.db
*.sqlite3

# Environment variables
*.env
.env

# Compiled distributions
dist/
build/
*.egg-info/

# IDE/editor specific files
.vscode/
.idea/
*.swp  # Vim swap files

# Debug and coverage reports
.coverage
htmlcov/
