<div class="list has-hoverable-list-items">

    <a class="list-item" href="#">
        <div class="list-item-content">
            <div class="list-item-title">
                <span class="icon">
                    <i class="fa-solid fa-calendar"></i>
                </span>
                Calendar
            </div>
            <div class="list-item-description mt-1">
                Get up to date on upcoming events.
            </div>
        </div>
    </a>

    <a class="list-item" href="#">
        <div class="list-item-content">
            <div class="list-item-title">
                <span class="icon">
                    <i class="fa-solid fa-bullhorn"></i>
                </span>
                Announcements
            </div>
            <div class="list-item-description mt-1">
                Catch up on anything you may have missed.
            </div>
        </div>
    </a>

</div>
