<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a href="#" class="navbar-item">
            <i class="fa-solid fa-comments fa-2xl"></i>
            Flask Blog
        </a>
        <a class="navbar-burger" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a href='{{ url_for("default_web.home") }}'
               class="navbar-item">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </div>
        <div class="navbar-end">
            <a href='{{ url_for("authentication_web.login") }}'
               class="navbar-item">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Login
            </a>
            <a href='{{ url_for("authentication_web.register") }}'
               class="navbar-item">
                <i class="fa-solid fa-user-plus"></i>
                Register
            </a>
        </div>
    </div>
</nav>
